<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="public/normalize.css">

    <link rel="stylesheet" href="public/style.css">
</head>

<body>

    {{{body}}}
    <!-- <li><a href='./greeted/counter/{{this}}' display='block'>{{name}}</a></li> -->


</body>

</html>
