<head>
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
</head>

<body>
    <div class="heading">
        <h1>Amount of times greeted</h1>
    </div><br>
    <div class="firstDiv">
        <p>{{resultOfNameSearch}}</p>
    </div>
    <div class="viewLinks">
      <br>
      <a href="/" display="block">Go back to the main greeting page</a><br><br><br>
      <a href="/greeted" display="block">Go back to the greeting history</a>
    </div>
</body>
