
<!doctype html>
<html>
<head>
  <!-- <link rel="stylesheet" href="public/normalize.css">
  <link rel="stylesheet" href="/style.css"> -->

  <title></title>
</head>
<body>
    <div class="heading">
        <h1>number of times greeted</h1>
    </div><br>
    <div class="divOne">
        <p>{{searchedResult}}</p>
    </div>
    <div class="viewLinks">
      <br>
      <a href="/greeted" display="block">Return to main greeting page</a><br><br><br>
      <a href="/greeted" display="block">Return to greeting history</a>
    </div>
</body>
{{#each greetings}}
  <a href="/counter' + name + '"> + name + </a><br />);
        {{else}}
    {{/each}}
</ul>

</html>
