<h1>Hello!,And Wellcome</h1>

<form id = 'fillForm' action = '/greetings' method='post'>
  <h2>Please validate your name:</h2>
  <input id = 'userName' type = 'text' name = 'userName' placeholder="Name..."/>
  <button id='greetButton' type='submit'>Greet me!</button>

  <div id= "radioButtons">
<input type="radio" name="radioButt" value="english"> English
<input type="radio" name="radioButt" value="afrikaans"> Afrikaans
<input type="radio" name="radioButt" value="columbia"> Columbia
</div>
</form>

<div id="nameOutput">
{{#if greeting}}
<h3>{{greeting}}</h3>
{{/if}}
</div>

<div id="countOutput">
<h3>{{times}}</h3>
</div>

<div class="error">
{{#if messages.error}}
{{messages.error}}
{{/if}}
</div>
