<!doctype>
<html>

<head>
    <link rel="stylesheet" href="/style.css">
</head>
<div class="header">
    <h1>Names Greeted:</h1>
</div>

<div class="divOne">
    <ul style='List-style: none;'>
        {{#each data}}
            <li><a href='counter/{{this}}' display='block'>{{this}}</a></li>
            {{else}}
                <li>Oops!names not greeted!</li>
        {{/each}}
    </ul>
    <ul>
        {{#each greetings}}
            <li>Hello, {{this}}</li>
        {{/each}}
    </ul>
</div>
<div class="viewLinks">
    <a display='block' href='/greeted'>home</a>
</div>
</body>
