<!doctype html>
<html>

<head>
  <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="style.css">

</head>
<div class="header">
    <h1>Names Greeted:</h1>
    <div class="viewLinks">
    <a display='block' href='/greetings'>home</a>

</div>
</div>

<div class="divOne">
    <ul style='List-style: none;'>
        {{#each greetings}}
            <li><a href='greeted/counter/{{this}}' display='block'>{{name}}{{this}}</a></li>
            {{else}}
        {{/each}}
    </ul>


</body>
