<!doctype html>
<html>

<head>
  <link rel="stylesheet" href="normalize.css">
  <link rel="stylesheet" href="style.css">

</head>
<div class="header">
  <h1>Names Greeted:</h1>
  <div class="viewLinks">
    <!-- <a display='block' href='/greetings'>home</a> -->
    <a href="/greetings" display="block">Return to main greeting page</a><br><br><br> |
    <a href='/counter'>Go To Tally</a>

  </div>
</div>

<div class="divOne">
  <ul style='List-style: none;'>
    {{#each greetings}}
    <a href="/counter ' + name + '">' + {{this}} + '</a><br />);
    {{/each}}
    </ul>


</body>
