<h1>Hello!,And Wellcome</h1>

<form id = 'fillForm' action = '/greetings' method='post'>
  <h2>Please validate your name:</h2>
  <input id = 'userName' type = 'text' name = 'userName' placeholder="Name..."/>
  <button id='greetButton'
