body,
html{
margin: auto;
padding: inherit;
}

form{
  float: none;
}

  align: center;

}

.container {
    position: absolute;
}

div {
    background-color: red;
    border: 10px dashed white;
    outline-color: white;
    padding: 10px;
    margin: 15px;
    border-bottom-right-radius: 60%;
    border-bottom-left-radius: 60%
}

header {
    float: center;
    padding: 2em;
    color: white;
    background-color: black;
    text-align: center;
    float:left;
    font-size-adjust: auto
    border-radius: 35%;
    border-spacing: inherit;
}

nav {
    float:center;
    max-width: 70px;
    margin: 0;
    padding: 1em;
}
span.note {

    font-size: 50px;
    color: red;
}

div.container{
  align: center;
  width: 45px;
}
.theButton{
border-top-left-radius: 45%;
border-bottom-right-radius:45%;
}
.resetClicks{
  border-top-right-radius: 45%;
  border-bottom-left-radius: 45%;
}
.theName{
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
}
.span-class{
  align : center
}
div.output{
  border-top-left-radius: 45%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-top-right-radius: 45%;
  border-width: thin;
  border-width: medium;
}
