<!doctype html>
<html>

<head>
  <link rel="stylesheet" href="/normalize.css">
  <link rel="stylesheet" href="/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <title></title>
</head>

<body>
  <div class="header">
    <h1>Keeping Track Of All People</h1>
  </div><br>
  <div class="divOne">
    <p><h2>{{resultOfSearchedName}}</h2></p>
  </div>
<br>
  <div class="footer">
    <a href="/" display="block">Back to main greeting page</a><br><br><br>
  <a href="/greeted" display="block">Back to greeting history</a>
</div>
</body>
<!-- {{#each greetings}}
  <a href="/counter' + name + '"> + name + </a><br />);
        {{else}}
    {{/each}}
</ul> -->

</html>
