<html>
<!-- <link /rel="stylesheet" href="/style.css"> -->


<div class='input'>
    <h1>Greetings!</h1>

    {{#if messages.error}}
        <div class='flashErr'>
            <h2>{{messages.error}}</h2>
            <br>
            <br>
        </div>

        <div class='field'>
    {{/if}}
    <a href='/greetings'>Add greeting</a>
    <ul>
        {{#each greetings}}
            <li>Hello, {{this}}</li>
        {{/each}}
    </ul>
    </div>
</div>
</html>
