<!doctype html>
<html>

<head>
  <link rel="stylesheet" href="/normalize.css">
  <link rel="stylesheet" href="/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

  <div class="header">
    <h1><b>People Greeted</b></h1>
    <div class="viewLinks">
      <a display='block' href="/"><b>Greet More People<b/></a>
    </div>
  </div>
  <hr>
  <div class='footer'>
    <ul>
      {{#each namesGreeted}}
        <li><a href='counter/{{this}}' display='block'>{{this}}</a></li>
        {{else}}
      {{/each}}
    </ul>
  </div>
</body>
</html>
