<h1>Add Greeting</h1>

<form class='' action='/greetings/add' method='post'>
    <input type="text" name="greeting" placeholder="type ur greeting message here">
    <input type='button' name='' value='Greet Me!'>
</form>
