<h1>Greet Today</h1>

<div class='input'>
    <form class='' action='/greetings/add' method='post'>
        <input type="text" name="greeting" placeholder="type ur greeting message here">
        <br>
        <br>
        <input type='submit' name='greetBtn' value='Greet Me!'>
    </form>
</div>
