<html>
<link rel="stylesheet" href="/style.css">


<div class='input'>
    <h1>Greetings!</h1>

    {{#if messages.error}}
        <div class='flashErr'>
            <h2>{{messages.error}}</h2>
            <br>
            <br>
        </div>
      
        <div class='field'>
    {{/if}}
    <a href='/greetings'>Add greeting</a>
    <ul>
        {{#each greetings}}
            <li>Hello, {{this}}</li>
        {{/each}}
    </ul>
    </div>
</div>
</html>

<!-- <div class='header'>
    <h1><b><em>Today's</em> <em>Greetings</em></b></h1>

    <a href='/greetings'><b>People greeted</b></a>
</div>
<hr>
<br>
<div class='input'>
    <form class='' action='/greetings/add' method='post'>
        <br>
        <label>
        <h3><em>please</em> <em>insert</em> <em>name:</em></h3>
        <input type="text" name="name" placeholder="type ur name here">
</label>

        <div class='radio'>
            <span>
English<input type='radio' name='language' checked='true' value='Hello'/>
Afrikaans<input type='radio' name='language' value='Goeie Dag'/>
Columbia<input type='radio' name='language' value='Buenos dias'/>

</span>
        </div>
        <br>
        <br>
        <input type='submit' name='greetBtn' value='Greet Me!'>
    </form>
</div> -->
