<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/normalize.css">
  <link rel="stylesheet" href="/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
  <div class='header'>
    <h1>Greet Web Form</h1>
    <a href='/greeted'><b>People <em>Greeted</em> So Far</b></a>
  </div>
  <br>

  {{#if messages.error}}
    <div class='error'>
      <h2>{{messages.error}}</h2>
    </div>
  {{/if}}

  <form class='' action='/' method='POST'>
    <div class='field2'>
      <input align='center' type="text" name="greeting" placeholder="type ur name here">
    </div>
    <br>
    <div class='container'>
      <label class='radios'>
          <input type="radio" name="language" value='english'>ENGLISH</label>    |
      <label class='radios'>
          <input type="radio" name="language" value='afrikaans'>AFRIKAANS</label>   |
      <label class='radios'>
          <input type="radio" name="language" value='colombia'>COLOMBIA</label>
      <br>
    </div>
    <div class='theBtn'>
      <input type='submit' name='greetBtn' value='Greet Me!'> |
      <input name='resetButton' type='submit' value='reset history' class='theResetBtn'>
    </div>

    <hr>
    <div class='counter'>
      <h2>counter : {{amount}}</h2>
    </div>
    <hr>
    <div class='output'>
      <ul>
        <p>{{greeting}}</p>
  </form>
  </ul>
  </div>
</body>
