<!doctype html>
<html>

<head>
  <link rel="stylesheet" href="normalize.css">

</head>

<body>

  <div class="header">
    <h1>Greetings</h1>
    <div class="viewLinks">
      <a href="/greetings/add">Greet More People</a>
    </div>
  </div>
  <hr>
  <div class='footer'>
    <ul>
      {{#each greetings}}
        <li>{{name}}</li>
        <!-- <a href="/counter ' + name + '">' + {{name}} + '</a><br />); -->
      {{/each}}
    </ul>
  </div>
</body>

</html>

<!-- </body> -->
