<html>
<head>
  <link rel="stylesheet" href="/style.css">

</head>
<body>
<div class='header'>
  <h1>Greet Web Form</h1>
  <a href='/greeted'>namesGreeted</a>
</div>
<hr>

<div class='input2'>
  {{#if messages.error}}
      <div class='flashErr'>
          <h2>{{messages.error}}</h2>
      </div>
  {{/if}}
  <form class='' action='/greetings' method='post'>
  <div class='field2'>
        <input type="text" name="greeting" placeholder="type ur name here">
</div>
        <br>
        <br>
        <div class='radio'>
            <span>
  <input type="radio" name="language" value="english"/>
  <label>English</label>
  <br>
  <input type="radio" name="language" value="afrikaans"/>
  <label>Afrikaans</label>
  <br>
  <input type="radio" name="language" value="columbia"/>
  <label>Columbia</label>
</span>

        </div>
        <br>
        <input type='submit' name='greetBtn' value='Greet Me!'>
    </form>
</div>
</body>
