body {
  background-color: #808080;
  align: 0 auto;
}

div.output {
  font-family: sans-serif;
  ;
  font-size: 25px;
  height: 100px;
  width: 0 auto;
  margin: auto;
  text-align: center;
  background-color: #000;
  padding-top: 10px;
}

div.header {
  /*align-content: center;*/
  /*float: center;*/
  padding: 1em;
  color: white;
  background-color: black;
  text-align: center;
  font-family: sans-serif;
  font-size-adjust: auto;
  border-spacing: 12em;
}

div.footer {
  padding: 1em;
  color: white;
  background-color: black;
  text-align: center;
  font-family: sans-serif;
  font-size-adjust: auto;
  border-spacing: 12em;
}
div.footerB {
  background-color: #123;
  width: auto;
  padding: 0.4em;


}

div.footer2 {
  padding: 1em;
  color: white;
  background-color: black;
  text-align: center;
  font-family: sans-serif;
  font-size-adjust: auto;
  border-spacing: 12em;
}

a {
  align-self: auto;
  color: blue;
  padding-center: 4em;
}

h1 {
  color: silver;
  text-align: center;
}

h2 {
  color: red;
  text-align: center;
}

.error {
  color: red;
}

div.container {
  align: center;
  clear: none;
  display: inline;
  padding-left: 5em;
  float: center;
}

div.input {
  background-color: white;
  border-radius: 1em;
  border-style: solid;
  height: 15em;
  align-content: center;
}

div.viewLinks {
  float: center;
  padding-right: 15em;
}

div.greetings {
  border-style: solid;
  background-color: #f0f0f0;
}

div.field {
  float: inherit;
  border-style: solid;
  background-color: white;
  border-radius: 15px;
  height: 20em;
}

ul, li {
  color: #fff;
  font-family: sans-serif;
  margin: 0em auto;
  text-align: center;
  clear: none;
  width: auto;
  padding-right: 2em;
  /*text-decoration-color: white;*/
}

.form {
  width: 10em;
  padding-left: 50em;
  align-content: center;
  float: right;
}

input {
  padding: 0.2em;
  border-radius: 25em;
  width: 6.5em;
  border-style: solid;
  color: blue;
}

.p {
  color: white;
  font-family: sans-serif;
  font-size: 1em;
  padding-left: 4em;
}

.theBtn {
  border-radius: 20em;
  color: #39698A;
  font-family: sans-serif;
}

.theBtn:hover {
  background-color: #39698A;
  color: #FfFfFf;
  border: 5px solid #39698A;
  cursor: pointer;
  -webkit-transition: 300ms ease-in-out;
  -moz-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

.radios {
  font-family: sans-serif;
}

.radios:hover {
  background-color: #39698A;
  color: #FfFfFf;
  border: 4.5px solid #39698A;
  cursor: pointer;
  -webkit-transition: 200ms ease-in-out;
  -moz-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}
